p {
    color: #010632;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    padding: 3px;
  }
  
  .Flex-Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #483D8b;
    align-items: center;
    justify-content: space-around;
  }

  .Flex-Colunm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .Img_2 {
    width: 5vw;
    height: 9vh;
  }
  