h1 {
    background-color: white;
    color: rgb(231, 118, 179);
    text-shadow: 0 0 45px #01063279, 0 0 45px #01063279;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 3.2em;
    text-align: center;
    text-shadow: 2px 2px #010632a0;
  }
  
  .Img_1 {
    width: 13vw;
    position: absolute;
    top: 2%;
    right: 4%;
    height: 23vh;
    border-radius: 50%;
  }