h2 {
    background-color: white;
    color:#483D8B;
    text-shadow: 0 0 45px #01063279, 0 0 45px #01063279;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4em;
    text-align: center  ;
    text-shadow: 2px 2px #FF6347;
  }
  
  .Img_1 {
    width: 15vw;
    position: absolute;
    top: 8%;
    right: 6%;
    height: 10vh;
  }