.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #010632cc;
    width: 3vw;
    height: 90vh;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 25px #01063279, 0 0 45px #f668b6b4;
  }
  
  a {
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    width: 2vw;
    height: 2vh;
  }
  
  a:hover {
    background-color: #050a3dbb;
    color: #01063279;
    border-radius: 5px;
  }
  
  a:visited {
    color: #f668b6b4;
  }
  
  a:focus a:active {
    color: #01063279;
  }