.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #483D8B;
    
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 25px #473d8bcd, 0 0 45px #FF6347;
  }
  
  a {
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 18vw;
    height: 2vh;
    color:white;
  }
  
  a:hover {
    background-color: #FF6347;
    color: #fdfcfc;
    border-radius: 5px;
  }
  
  a:visited {
    color: #fefeff;
  }
  
  a:focus a:active {
    color: #010632e3;
  }