.Flex-Row {
    display: flex;
    flex-direction: row;
    width: 70vw;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.Flex-Row-1 {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 8px;
    width: 95vw;
    border: solid 2px #dedcdcee;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 15px;

}
.Flex-Colunm {
    display: flex;
    flex-direction: column;
}
 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    background-color: #ff63478f;
    color: #483D8B;
    text-align: center;
    margin-right: 8px;
    border-radius: 5px;
 }

 img {
    width: 25vw;
    height: 36vh;
    border-radius: 10px;
 }
 

 .or-de {
    display: flex;
    flex-direction: column;
    background-color: #473d8b;
    color: white;
    padding: 8px;
    height: 20vh;
    width: 8vw;
    border-radius: 8px;
    
 }

 .descr {
    width: 60vw;
    padding: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    color: #483D8B;
    background-color: #ff63478f;
    width: 48vw;
    height: 18.5vh;
    border-radius: 5px;
 }

 .va-ho {
    display: flex;
    flex-direction: column;
    background-color: #473d8b;
    color: white;
    padding: 8px;
    height: 20vh;
    width: 8vw;
    margin-right: 1%;
    border-radius: 8px;
 }

 .space {
    display: flex;
    justify-content: center;
 }